<h1 class="text-center mt-4">Articles</h1>
<div class="container">
  <div class="row justify-content-center">
    <%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-lg shadow rounded mb-4' %>
  </div>
  <% @articles.each do |article| %>
    <div class="row justify-content-center">
      <div class="col-8 mb-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            by
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article, class: 'text-success' %></h5>
            <p class="card-text"><%= truncate(article.body, length: 100) %></p>
            <%= link_to 'View', article, class: "btn btn-outline-success" %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info" %>
            <%= link_to 'Destroy', article, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="card-footer text-muted">
            <% if article.created_at == article.updated_at %>
              <small><%= "Created #{time_ago_in_words(article.created_at)} ago." %></small>
            <% else %>
              <small><%= "Created #{time_ago_in_words(article.created_at)} ago, Updated #{time_ago_in_words(article.updated_at)} ago" %></small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
